In [3]:
import pandas as pd

l1 = pd.read_excel('/home/jonatas/Downloads/finding-lawyers-phones.xlsx', usecols="A:B")
l1

                            ADVOGADO                              TELEFONE
0      JOAO JOSE MACHADO DE CARVALHO                        (62) 3946-6258
1      JOAO JOSE MACHADO DE CARVALHO                        (62) 3946-6258
2      JOAO JOSE MACHADO DE CARVALHO                        (62) 3273-1644
3      JOAO JOSE MACHADO DE CARVALHO                        (62) 3946-6258
4      JOAO JOSE MACHADO DE CARVALHO                        (62) 3932-2828
...                              ...                                   ...
41050       KATHERINE LOGRADO PESSOA  |HTTPConnectionPool(host='127.0.0.1'
41051       KATHERINE LOGRADO PESSOA                        (73) 9985-0360
41052       KATHERINE LOGRADO PESSOA                        (73) 9985-0360
41053       KATHERINE LOGRADO PESSOA                        (73) 9985-0360
41054                ELCIVALDO JAIME                        (42) 3220-6283

[41055 rows x 2 columns]

In [4]:
l1.columns

Index(['ADVOGADO', 'TELEFONE'], dtype='object')

In [21]:
import numpy as np

l1.TELEFONE = l1.TELEFONE[np.logical_or(l1.TELEFONE.str.len() == 14 , l1.TELEFONE.str.len() == 12)]
l1 = l1[l1['TELEFONE'].notna()]
l1

/home/jonatas/.local/lib/python3.8/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

                            ADVOGADO        TELEFONE
0      JOAO JOSE MACHADO DE CARVALHO  (62) 3946-6258
1      JOAO JOSE MACHADO DE CARVALHO  (62) 3946-6258
2      JOAO JOSE MACHADO DE CARVALHO  (62) 3273-1644
3      JOAO JOSE MACHADO DE CARVALHO  (62) 3946-6258
4      JOAO JOSE MACHADO DE CARVALHO  (62) 3932-2828
...                              ...             ...
41049       KATHERINE LOGRADO PESSOA  (73) 9985-0360
41051       KATHERINE LOGRADO PESSOA  (73) 9985-0360
41052       KATHERINE LOGRADO PESSOA  (73) 9985-0360
41053       KATHERINE LOGRADO PESSOA  (73) 9985-0360
41054                ELCIVALDO JAIME  (42) 3220-6283

[39019 rows x 2 columns]

In [76]:
l2 = pd.read_excel("list-values.xlsx", usecols="A:I")
del l2['0_x']
del l2['Unnamed: 0']
l2['2_x'].astype(str)
l2

,1,2_x,3_x,4,5,2_y,3_y
0,1933446520194019198,JC DIVERSIFICADO III FUNDO DE INVESTIMENTO EM ...,HAMILTON DIAS DE SOUZA,NaN,NaN,1.145294e+09,
1,2349949220194019198,LAGINHA AGRO INDUSTRIAL E OUTROS(AS),HAMILTON DIAS DE SOUZA,UNIAO FEDERAL,JUIZO FEDERAL DA 9A VARA - DF,7.082648e+08,
2,1975640920194019198,VERA LUCIA SERPA DE MENEZES LINS E OUTROS(AS),FRANCISCO DE ASSIS ALMEIDA E SILVA,UNIAO FEDERAL,JUIZO FEDERAL DA 6A VARA - DF,6.509039e+08,
3,2349983220194019198,TRIUNFO AGRO INDUSTRIAL SA,ROBERTO FERREIRA ROSAS,UNIAO FEDERAL,JUIZO FEDERAL DA 9A VARA - DF,5.833805e+08,
4,2349957720194019198,FUNDO DE INVESTIMENTO EM DIREITOS CREDITORIOS ...,HAMILTON DIAS DE SOUZA,UNIAO FEDERAL,JUIZO FEDERAL DA 9A VARA - DF,5.794894e+08,
...,...,...,...,...,...,...,...
15110,234222620194019198,LUCIANA PIRES DE LIMA INTOTERO,TIAGO LUIS COELHO DA ROCHA MUZZI,UNIAO FEDERAL,JUIZO FEDERAL DA 20A VARA - MG,7.341000e+01,NÃO
15111,2833202020184019198,SHERLEANO LUCIO DE PAULA SILVA FERREIRA,SHERLEANO LUCIO DE PAULA SILVA FERREIRA,INSTITUTO NACIONAL DO SEGURO SOCIAL - INSS,JUIZO DE DIREITO DA 1A VARA CIVEL DA COMARCA D...,2.299000e+01,NÃO
15112,1385214420194019198,SEBASTIAO ROBERTO DA SILVA,JUAREZ LOPES DA SILVA,UNIAO FEDERAL,JUIZO FEDERAL DA 10A VARA - MG,1.248000e+01,
15113,1385205920194019198,MARIA APARECIDA LESSA DA SILVA,JUAREZ LOPES DA SILVA,UNIAO FEDERAL,JUIZO FEDERAL DA 10A VARA - MG,1.248000e+01,
15114,2135665420194019198,CARMELITA PINHEIRO DOS SANTOS MENEZES,TANIA MARIA MARTINS GUIMARAES LEAO FREITAS,UNIAO FEDERAL,JUIZO FEDERAL DA 7A VARA - DF,4.090000e+00,

In [84]:
# print(l2['3_x'].isin(l1['ADVOGADO']))
l2 = l2[l2['3_x'].notna()]

# l2['3_x'][l2['3_x'].str.contains("foo", na=False)]
# l1['ADVOGADO'].isin(l2['3_x'])

l1.columns = ['3_x', 'TELEFONE']
fl = pd.merge(l1, l2, on='3_x', how='outer')
fl = fl[fl['TELEFONE'].notna()]
fl = fl[fl['2_y'].notna()]
fl = fl.sort_values('2_y', ascending=False)
fl.columns = ['ADVOGADO', 'TELEFONE', 'PRECATÓRIOS', 'REQUERENTE', 'REQUERIDO', 'DEPRECANTE', 'VALORES', 'TIPO']

fl['PRECATÓRIOS'].astype(str)

fl['PRECATÓRIOS'] = fl['PRECATÓRIOS'].apply(lambda x: '{:.0f}'.format(x))

fl = fl.drop_duplicates(keep=False, inplace=True)

fl

In [ ]:
fl.to_excel("list-values-with-phone.xlsx")